<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <title>notes App</title>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        <div id="form" class="form p-10 text-white p-10">
            <h1 class="text-4xl tracking-tighter">
                <%= filename %>
            </h1>
            <form action="/updateFile/<%= filename %>" method="post">
                <label class="text-white font-bold inline-block mt-5" for="newContent">Update The File Here </label>
                 <textarea name="newContent" class="block w-full resize-none rounded-md outline-none px-10 mt-5 bg-zinc-700" placeholder="Update your file content"><%= fileData %> </textarea>
                <input class="mt-2 bg-blue-600 px-5 py-2 rounded-md" type="submit">
            </form>
        </div>
    </div>
</body>
</html> 